.depoi {
    display: flex;
    flex-direction: column;
    

    gap: 3em;
    align-items: center;

    background-color: #F4F4F4;
    height: 40rem;
}

.depoi h1 {
    color: #1A2876;
    font-size: 5rem;
    margin-top: 1rem;
}

.text {
    display: flex;
    flex-direction: column;

    position: relative;

    justify-content: center;
    align-items: center;

    width: 55rem;
    height: 35rem;
    gap: 3em;   

    margin-left: 12rem;

    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.185);
    box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.466);
    border-radius: 15px;   
}

img#bruno {
    position: absolute;
    width: 25rem;
    right: 47rem;
    bottom: 0;
}

button img {
    width: 5rem;
}

button#setaL, button#setaR {
    position: absolute;
    
}

button#setaL {
    right: 85rem;
}

button#setaR {
    left: 70rem;
}

button {
    cursor: pointer;
    border: none;
}

p#depoi {
    font-size: 2rem;
    width: 37rem;
    text-align: center;
    color: #1A2876;
    font-weight: 600;
}

p#ident {
    color: #1a28769f;
    font-size: 1.5rem;
}

.circulos {
    display: flex;
    gap: 0.5em;
}

.circulos img {
    width: 1.3rem;
}



