.Header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: white;
    height: 11rem;
    align-items: center;
}
a{
    text-decoration: none;
}

.ImagemPrincipal{
    display: flex;
    margin-left: 1rem;
}
.ImagemPrincipal img{
    width: 7rem;
    height: 9rem;
}
.Instituto{
    display: flex;
    font-size: 2em;
    gap: 1em;
    width: 20rem;   
    align-items: center;
    box-sizing: border-box;
    margin-left: 0.7em;
    font-weight: 700;
}
.pages {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.7rem;
    width: 118rem;
    gap: 2em;
    margin: 0 1rem;
    margin-right: 3%;
}

.pages a:hover {
    color: #4abcf2;
    text-decoration: underline;
}
