.redes{
    height: 50rem;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}
.RedesSociais{
    position: absolute;
    right: 0.33em;
    bottom: 30em;
    height: 18rem;
    width: 3rem;
    display: flex;
    flex-direction: column;
    z-index: 3;
    background-color: white;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 1em;
    padding-left: 0.5em;
}
.RedesSociais a {
    width: 100%;
    height: 18%;
}
.RedesSociais a img{
    width: 20px;
    height: 20px;
}

.centro{
    display: flex;
}
.ImgInstituto{
    width: 50%;
    height: 50rem;
    overflow: hidden;
}
.BoasVindas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 43rem;
    background-image: linear-gradient(to left, rgb(76, 76, 165), rgb(105, 118, 173));
    color: rgb(241, 241, 241);
    z-index: 2;
}

.BoasVindas p,
.BoasVindas h2,
.BoasVindas strong{
    margin-left: 1em;
}

.FotoInstituto{
    height: 100%;
    width: 130%;
    object-fit: cover;
    z-index: 1;
}
.Estilizacao{
    background-image: url("../images/Listra_azul.png");
    background-size: 72rem 8rem;
    width: 100%;
    height: 7rem;
    z-index: 6;
}
.BoasVindasSegundo{
    width: 50%;
    height: 50rem;
}
.BoasVindas h2,
.BoasVindas strong{
    color: rgb(238, 185, 38);
    font-weight: 800;
    font-size: 3.6rem;
}
.TextoIntrodutorio{
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 700;
    font-size: 2.6rem;
}

.textBaixo{
    margin-left: 3.5em;
}
